/*
 * This file is included once, for the entire sute.
 * It's useful for global styles and CSS varibles.
 */
:root {
    --real-100vh: 100vh;
    --font-primary: "RM Neue", sans-serif;
    --font-secondary: serif;
}
body {
    font-family: var(--font-primary);
}
a {
    text-decoration: none;
    color: inherit;
}
