/*
 * This file is included once, for the entire sute.
 * It's useful for global styles and CSS varibles.
 */

// Varibles
:root {
    --color-black: #282828;
    --color-company: #d8d9be;

    --unit-100vh: 100vh;
    --unit-vertical-gap: 70px;
    --unit-gutter: 50px;
    --unit-max-width: 1800px;
}

// Base styles
body {
    font-family: "RM Neue", sans-serif;
    color: var(--color-black);
    margin: 0;
    background-color: #000000;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease-in-out;
}
