/*
 * This file is auto-imported into all components.
 * It's useful for SCSS varibles.
 */

// Breakpoints
$gt-wide: "only screen and (min-width: 1800px)";
$lt-tablet: "only screen and (max-width: 1024px)";
$lt-phone: "only screen and (max-width: 414px)";
$has-hover: "(hover: hover)";
